import /init.aries.usb.rc
import /init.aries.supersu.rc

on init

#   By default, primary storage is physical
    setprop ro.vold.primary_physical 1

#   for backwards compatibility
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    mkdir /datadata 0771 system system

on boot

#   KSM
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/sleep_millisecs 1500
    write /sys/kernel/mm/ksm/run 1

#   Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline

# Flash storage isn't a good entropy source, and only causes locking
# overhead in the kernel. Turn it off.
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk1/queue/add_random 0
    write /sys/block/mtdblock0/queue/add_random 0
    write /sys/block/mtdblock1/queue/add_random 0
    write /sys/block/mtdblock2/queue/add_random 0

on fs
#   LVM: set up LVM volumes
    wait /sys/dev/block/179:0
    exec /lvm/sbin/lvm vgscan --mknodes --ignorelockingfailure
    exec /lvm/sbin/lvm vgchange -aly --ignorelockingfailure
    restorecon /dev/mapper/lvpool-system
    restorecon /dev/mapper/lvpool-userdata

    mount_all /fstab.aries

    mount yaffs2 mtd@datadata /datadata

#   Permissions for bluetooth
    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

#   Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness

#   Change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

#   Permission for tuning knobs
    chown system system /sys/devices/virtual/misc/notification/bl_timeout
    chmod 660 /sys/devices/virtual/misc/notification/bl_timeout

    chown system system /sys/kernel/bigmem/enable
    chmod 660 /sys/kernel/bigmem/enable

    chown system system /sys/devices/virtual/misc/touchwake
    chmod 660 /sys/devices/virtual/misc/touchwake

    chown system system /sys/devices/virtual/misc/pwm_duty/pwm_duty
    chmod 660 /sys/devices/virtual/misc/pwm_duty/pwm_duty

    chown system system /sys/devices/virtual/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chmod 660 /sys/devices/virtual/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd

    chown system system /sys/class/misc/dockaudio/cardock_enable
    chown system system /sys/class/misc/dockaudio/deskdock_enable
    chmod 660 /sys/class/misc/dockaudio/cardock_enable
    chmod 660 /sys/class/misc/dockaudio/deskdock_enable

    chown system system /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/green_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/red_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/red_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_v1_offset

on post-fs

    chown system system /datadata
    chmod 0771 /datadata
    restorecon /datadata

#   Allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/UV_mV_table
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/UV_mV_table

#   For sensor control
    chown root input /sys/class/input/input0/enable
    chown root input /sys/class/input/input0/delay
    chown root input /sys/class/input/input0/wake
    chown root input /sys/class/input/input0/data
    
    chown root input /sys/class/input/input1/enable
    chown root input /sys/class/input/input1/delay
    chown root input /sys/class/input/input1/wake
    chown root input /sys/class/input/input1/threshold
    chown root input /sys/class/input/input1/distortion
    chown root input /sys/class/input/input1/shape
    chown root input /sys/class/input/input1/offsets
    chown root input /sys/class/input/input1/filter_enable
    chown root input /sys/class/input/input1/filter_len
    chown root input /sys/class/input/input1/data
    chown root input /sys/class/input/input1/status
    chown root input /sys/class/input/input1/position
    
    chown root input /sys/class/input/input2/enable
    chown root input /sys/class/input/input2/delay
    chown root input /sys/class/input/input2/wake
    chown root input /sys/class/input/input2/threshold
    chown root input /sys/class/input/input2/distortion
    chown root input /sys/class/input/input2/shape
    chown root input /sys/class/input/input2/offsets
    chown root input /sys/class/input/input2/filter_enable
    chown root input /sys/class/input/input2/filter_len
    chown root input /sys/class/input/input2/data
    chown root input /sys/class/input/input2/status
    chown root input /sys/class/input/input2/position

    chown root input /sys/class/input/input3/enable
    chown root input /sys/class/input/input3/delay
    chown root input /sys/class/input/input3/wake
    chown root input /sys/class/input/input3/threshold
    chown root input /sys/class/input/input3/distortion
    chown root input /sys/class/input/input3/shape
    chown root input /sys/class/input/input3/offsets
    chown root input /sys/class/input/input3/filter_enable
    chown root input /sys/class/input/input3/filter_len
    chown root input /sys/class/input/input3/data
    chown root input /sys/class/input/input3/status
    chown root input /sys/class/input/input3/position

    chown root input /sys/class/input/input4/enable
    chown root input /sys/class/input/input4/delay
    chown root input /sys/class/input/input4/wake

    chown root input /sys/class/input/input5/enable
    chown root input /sys/class/input/input5/delay
    chown root input /sys/class/input/input5/wake

    chown root input /sys/class/input/input6/enable
    chown root input /sys/class/input/input6/delay
    chown root input /sys/class/input/input6/wake

    chown root input /sys/class/input/input7/enable
    chown root input /sys/class/input/input7/delay
    chown root input /sys/class/input/input7/wake

    chown root input /sys/class/input/input8/enable
    chown root input /sys/class/input/input8/delay
    chown root input /sys/class/input/input8/wake

    chown root input /sys/class/input/input9/enable
    chown root input /sys/class/input/input9/delay
    chown root input /sys/class/input/input9/wake

    chown root input /dev/i2c-12

on charger

#   set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

on post-fs-data

#   Setup /datadata
    start setup_datadata

#   Create data/gps for GPS demon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps
    chmod 771 /data/gps
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 660 /sys/class/sec/gps/GPS_PWR_EN/value

#   Wi-Fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

#   Logs
    mkdir /data/log 0775 root root
    chmod 0775 /data/log

    setprop vold.post_fs_data_done 1

# When encrypting, unmount /datadata
on property:vold.decrypt=trigger_shutdown_framework
    start setup_datadata

# Setup /datadata
service setup_datadata /sbin/setupdatadata.sh
    disabled
    oneshot
    seclabel u:r:setup_datadata:s0

# 3D init
service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant.conf \
    -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    group system bluetooth
    disabled
    oneshot

service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

on property:ril.bt_macaddr=*
    start bdaddr

service orientationd /system/vendor/bin/orientationd
    class main
    user compass
    group system input

service geomagneticd /system/vendor/bin/geomagneticd
    class main
    user compass
    group system input

service gpsd /system/vendor/bin/gpsd
    class main
    user system
    group system inet
